.homeBox {
  .cardBox{
      display: flex;
      .ant-card-body >ul{
        // width: 532px;
        height: 84px;
        background: #F2F7FF;
        border-radius: 6px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        overflow-y: auto;
        p{
            margin-bottom: 0;
        }
      }
      .site-card-border-less-wrapper {
        padding-left: 24px;
        width: 50%;
      }
  }
  
  .tabelBox{
      margin-top: 24px;
      .ant-pagination{
          float: right;
          padding:14px 0;
      }
  }
}
