@import "./theme.less";
@import "./layout.less";
@import "./iconfont/index.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #e9eaf1;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #d1d4ea;
  border: 3px solid #e9eaf1;
}

::-webkit-scrollbar-corner {
  background-color: #e9eaf1;
}

.flex-box {
  display: flex;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

ol,
ul > li {
  list-style: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table {
  border: 1px solid #e8eaf1;
  tbody tr.ant-table-row td {
    height: 48px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr th {
    font-size: 14px;
    color: #909399 !important;
  }

  tbody.ant-table-tbody tr td {
    color: #606266 !important;
    height: 48px;
  }

  tbody.ant-table-tbody tr:nth-child(2n + 1) td {
    background-color: #fafbfe;
  }
}

.ant-modal-body {
  overflow-y: auto;
  max-height: 70vh;

  .ant-form-item {
    margin-bottom: 10px;
  }

}

.ant-btn {
  min-width: 100px;
}

.iconfont {
  margin-right: 3px;
}
