@import "./theme.less";
@import "./layout.less";
@import "./iconfont/index.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// #root{
//     width: 100%;
//     height: 100vh;
//     background-color: #ccc;
// }
.flex-box {
  display: flex;
  display: flex;
}

.flex-space {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

ol,
ul > li {
  list-style: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table {
  tr th {
    font-size: 14px;
    color: #909399 !important;
  }
  tbody.ant-table-tbody tr td {
    color: #606266 !important;
    height: 48px;
  }
  tbody.ant-table-tbody tr:nth-child(2n + 1) td {
    background-color: #fafbfe;
  }
}

.ant-btn {
  width: 112px;
}

.iconfont{
  margin-right: 3px;
}