@import "./theme.less";
@import "./layout.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// #root{
//     width: 100%;
//     height: 100vh;
//     background-color: #ccc;
// }
.flex-box {
  display: flex;
  display: flex;
}

.flex-space {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

ol,
ul > li {
  list-style: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
